# Git and IDE
.git
.gitignore
.vscode
.idea

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
build/
dist/

# Django specific
db.sqlite3
media/
staticfiles/
.pytest_cache
.coverage
htmlcov/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Tests and Testing Configs
**/tests/
**/test_*.py
**/*_test.py
tests/
conftest.py
pytest.ini
